{
 "openapi": "3.1.0",
 "info": {
  "title": "map.repo.lv krīzes kartes API",
  "version": "2026-10-10",
  "description": "Atvērts API: tuvākās drošās vietas, brīdinājumi, plūdu risks, ūdens līmenis, ceļi un satiksme no Latvijas atvērtajiem datiem. Katram galapunktam avots un licence laukā x-avoti. Mūsu atvasinātie dati — CC BY 4.0; caurlaistie dati — avota licence. Dokumentācija: https://map.repo.lv/api.html",
  "license": {
   "name": "CC BY 4.0 (atvasinātie dati); avotu licences — x-avoti",
   "url": "https://creativecommons.org/licenses/by/4.0/"
  },
  "contact": {
   "url": "https://github.com/noiseparty/hakatons"
  }
 },
 "servers": [
  {
   "url": "https://map.repo.lv"
  }
 ],
 "paths": {
  "/api/kategorijas": {
   "get": {
    "summary": "Kartes slāņi",
    "description": "Visi slāņi ar objektu skaitu, krāsu, grupu un avotu kodiem.\n\nAvotu licences: /api/avoti.",
    "parameters": [],
    "x-avoti": [
     {
      "nosaukums": "map.repo.lv (atvasināti dati)",
      "url": "https://github.com/noiseparty/hakatons",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 300,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": [
         {
          "kods": "patvertne",
          "nosaukums": "Publiskās patvertnes",
          "grupa": "patvertnes",
          "krasa": "#b91c1c",
          "kartiba": 10,
          "skaits": 778,
          "avoti": [
           "vugd-112"
          ]
         },
         {
          "kods": "evakuacijas_punkts",
          "nosaukums": "Evakuācijas pulcēšanās vietas (pašvaldību CA plāni)",
          "grupa": "patvertnes",
          "krasa": "#0f766e",
          "kartiba": 11,
          "skaits": 730,
          "avoti": [
           "ca-plani"
          ]
         },
         "… (+14)"
        ]
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/avoti": {
   "get": {
    "summary": "Datu avoti",
    "description": "Katrs avots: izdevējs, licence, datu kopas saite, ieguve, kā lietots kartē, objektu skaits un ielādes laiks.\n\nAvots bez atvērtas licences: atverts = false (112.lv patvertnes).",
    "parameters": [],
    "x-avoti": [
     {
      "nosaukums": "map.repo.lv (atvasināti dati)",
      "url": "https://github.com/noiseparty/hakatons",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 300,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": [
         {
          "kods": "vugd-112",
          "nosaukums": "Publiskās patvertnes (112.lv patvertņu karte)",
          "izdevejs": "VUGD / Iekšlietu ministrijas Informācijas centrs",
          "licence": "Licence nav norādīta",
          "licences_url": null,
          "atverts": false,
          "datu_kopa_url": "https://www.112.lv/lv/patvertnes",
          "lejupielade": "https://services9.arcgis.com/f2QOaaoX08g1sAc2/arcgis/rest/services/PatvertnesDati_view/FeatureServer/0",
          "lietojums": "Patvertnes (781)",
          "piezime": "Nav publicēts data.gov.lv; dati nolasīti no publiskā 112.lv ArcGIS kartes servisa (hakatona komplekts). Atvērta ir tikai Rīgas patvertņu kop…",
          "kartiba": 10,
          "skaits": 778,
          "ieladets": "2026-10-10T03:09:31.427269+03:00",
          "atjaunots": "2026-10-10T03:09:31.427269+03:00"
         },
         {
          "kods": "ca-plani",
          "nosaukums": "Pašvaldību civilās aizsardzības plāni",
          "izdevejs": "Katra pašvaldība (izdevējs un plāna saite norādīti katram punktam)",
          "licence": "Oficiāls dokuments, nav autortiesību objekts (Autortiesību likuma 6. pants)",
          "licences_url": "https://likumi.lv/ta/id/5138-autortiesibu-likums",
          "atverts": true,
          "datu_kopa_url": "https://github.com/lata-org/ai-open-data-2026-hakatons/tree/main/ca-plani-hakatons",
          "lejupielade": "Plānu PDF/DOCX no pašvaldību tīmekļvietnēm (ipasibas.plans_url), pārveidoti Markdown; vietas izvilktas ar AI + regex, katra pārbaudīta pret …",
          "lietojums": "Evakuācijas pulcēšanās vietas; pagaidu izmitināšanas vietas",
          "piezime": "Koordinātas no plāna; ja plānā tikai adrese vai koordinātas ir kļūdainas, tās ģeokodētas ar VZD adrešu reģistru. Kvalitāte: notes/ca-plani-k…",
          "kartiba": 15,
          "skaits": 1309,
          "ieladets": "2026-10-10T03:09:33.355065+03:00",
          "atjaunots": "2026-10-10T03:09:33.355065+03:00"
         },
         "… (+20)"
        ]
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/regioni": {
   "get": {
    "summary": "Pašvaldības un pilsētas",
    "description": "Novadi, valstspilsētas un pilsētas ar kodu (VZD adrešu reģistrs) un bbox, bez ģeometrijas.",
    "parameters": [],
    "x-avoti": [
     {
      "nosaukums": "VZD Valsts adrešu reģistra atvērtie dati",
      "url": "https://data.gov.lv/dati/lv/dataset/varis-atvertie-dati",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 3600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": [
         {
          "kods": "100003366",
          "nosaukums": "Ainaži",
          "tips": "pilseta",
          "novads_kods": "100016606",
          "bbox": [
           24.33581,
           57.82798,
           24.3811,
           57.87674
          ]
         },
         {
          "kods": "100003077",
          "nosaukums": "Aizkraukle",
          "tips": "pilseta",
          "novads_kods": "100016630",
          "bbox": [
           25.20666,
           56.56974,
           25.27975,
           56.62155
          ]
         },
         "… (+115)"
        ]
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/regioni/{kods}": {
   "get": {
    "summary": "Reģiona robeža",
    "description": "Viena reģiona robeža kā GeoJSON Feature (vienkāršota ~50 m).",
    "parameters": [
     {
      "name": "kods",
      "in": "path",
      "required": true,
      "description": "reģiona kods no /api/regioni (ceļā)",
      "schema": {
       "type": "string"
      },
      "example": "100016688"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "VZD Valsts adrešu reģistra atvērtie dati",
      "url": "https://data.gov.lv/dati/lv/dataset/varis-atvertie-dati",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 3600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "type": "Feature",
         "id": "100016688",
         "properties": {
          "kods": "100016688",
          "nosaukums": "Ogres novads",
          "tips": "novads"
         },
         "geometry": {
          "type": "MultiPolygon",
          "coordinates": [
           [
            [
             [
              24.8698,
              56.92606
             ],
             [
              24.8959,
              56.92292
             ],
             "… (+808)"
            ]
           ]
          ]
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/objekti": {
   "get": {
    "summary": "Punkti kartē",
    "description": "Kartes objekti (GeoJSON FeatureCollection). Ar lat/lon — sakārtoti pēc attāluma, ar attalums_m.\n\nLicence katram punktam pēc avota: CC0 (IeM IC, ZVA, LVĢMC), CC BY 4.0 (VZD), ODbL (OSM), oficiāli dokumenti (CA plāni); 112.lv patvertnēm licence nav norādīta.",
    "parameters": [
     {
      "name": "kategorijas",
      "in": "query",
      "required": false,
      "description": "slāņu kodi ar komatu (no /api/kategorijas)",
      "schema": {
       "type": "string"
      },
      "example": "patvertne,evakuacijas_punkts"
     },
     {
      "name": "regions",
      "in": "query",
      "required": false,
      "description": "tikai šajā reģionā (kods)",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lat",
      "in": "query",
      "required": false,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": false,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     },
     {
      "name": "bbox",
      "in": "query",
      "required": false,
      "description": "kartes skats minLon,minLat,maxLon,maxLat: tikai punkti taisnstūrī, īsās īpašības (ko rāda punkta logs), ≤ 5000; ja vairāk — izlase pa slāņiem un \"apgriezts\": true",
      "schema": {
       "type": "string"
      },
      "example": "24.55,56.80,24.66,56.84"
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "description": "cik punktu (1–20000, ar bbox ≤ 5000; noklusēti 5000)",
      "schema": {
       "type": "integer"
      },
      "example": "3"
     },
     {
      "name": "kritiskais",
      "in": "query",
      "required": false,
      "description": "1 — tikai kritiskie (banku bankomāti, kas strādā arī krīzē)",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "Katram punktam savs avots (properties.avots)",
      "url": "/api/avoti",
      "licence": "skat. /api/avoti"
     }
    ],
    "x-kesa-sekundes": 60,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "type": "FeatureCollection",
         "features": [
          {
           "type": "Feature",
           "id": 25820,
           "geometry": {
            "type": "Point",
            "coordinates": [
             24.600546,
             56.81713
            ]
           },
           "properties": {
            "kategorija": "evakuacijas_punkts",
            "nosaukums": "Ogres novada kultūras centrs",
            "adrese": "Brīvības iela 15, Ogre, Ogres novads,LV-5001",
            "avots": "ca-plani",
            "pasvaldiba": "100016688",
            "pilseta": "100003470",
            "attalums_m": 255,
            "ipasibas": {
             "id": "ogres-novads-evak-1",
             "lpp": 121,
             "adrese": "Brīvības iela 15, Ogre, Ogres novads,LV-5001",
             "…": "+18 lauki"
            }
           }
          },
          {
           "type": "Feature",
           "id": 25821,
           "geometry": {
            "type": "Point",
            "coordinates": [
             24.599828,
             56.815241
            ]
           },
           "properties": {
            "kategorija": "evakuacijas_punkts",
            "nosaukums": "Ogres pilsētas dzelzceļa stacija",
            "adrese": "Skolas iela 1, Ogre, Ogres novads,LV-5001",
            "avots": "ca-plani",
            "pasvaldiba": "100016688",
            "pilseta": "100003470",
            "attalums_m": 328,
            "ipasibas": {
             "id": "ogres-novads-evak-2",
             "lpp": 121,
             "adrese": "Skolas iela 1, Ogre, Ogres novads,LV-5001",
             "…": "+18 lauki"
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/adreses": {
   "get": {
    "summary": "Adrešu meklēšana",
    "description": "VZD adreses ar koordinātām; bez garumzīmēm, pēc vārdu daļām; mājas numurs augstāk.",
    "parameters": [
     {
      "name": "q",
      "in": "query",
      "required": true,
      "description": "adrese vai tās daļa (vismaz viens vārds ar 3+ burtiem)",
      "schema": {
       "type": "string"
      },
      "example": "brivibas 15 ogre"
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "description": "1–20, noklusēti 8",
      "schema": {
       "type": "integer"
      },
      "example": "2"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "VZD Valsts adrešu reģistra atvērtie dati",
      "url": "https://data.gov.lv/dati/lv/dataset/varis-atvertie-dati",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 3600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": [
         {
          "kods": "101354237",
          "adrese": "Brīvības iela 15, Ogre, Ogres nov., LV-5001",
          "lat": 56.816905,
          "lon": 24.602338
         },
         {
          "kods": "101354245",
          "adrese": "Brīvības iela 15A, Ogre, Ogres nov., LV-5001",
          "lat": 56.816914,
          "lon": 24.604365
         }
        ]
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/adreses/tuvaka": {
   "get": {
    "summary": "Tuvākā adrese",
    "description": "Tuvākā VZD adrese punktam (≤ 300 m), citādi {}.",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": true,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": true,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "VZD Valsts adrešu reģistra atvērtie dati",
      "url": "https://data.gov.lv/dati/lv/dataset/varis-atvertie-dati",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 3600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "adrese": "Brīvības iela 15A, Ogre, Ogres nov., LV-5001",
         "kods": "101354245",
         "attalums_m": 38
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/pasvaldiba": {
   "get": {
    "summary": "Pašvaldība punktā",
    "description": "Pašvaldība (novads vai valstspilsēta): CA plāna saite, tīmekļvietne, VPVKAC kontakts.\n\nAtbildē lauks avoti ir saraksts {nosaukums, licence, url}: katram datu avotam sava licence. VPVKAC dati ir no 2023. gada novembra; valstspilsētām tādu nav. 404, ja punkts nav nevienā pašvaldībā.",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": true,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": true,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     }
    ],
    "x-atbildes-lauki": [
     {
      "lauks": "kontakti",
      "nozime": "pašvaldības e-pasts, tālrunis, adrese, mājas lapa (UR, CC0; tālrunis tikai kā teksts)"
     },
     {
      "lauks": "avoti[]",
      "nozime": "{nosaukums, licence, url}: CA plāni (oficiāls dokuments), UR iestāžu saraksts (CC0), VPVKAC kontakti 2023-11 (CC0)"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "CA plāni hakatonam (pašvaldību tīmekļvietnes)",
      "url": "https://github.com/lata-org/ai-open-data-2026-hakatons/tree/main/ca-plani-hakatons",
      "licence": "Oficiāls dokuments"
     },
     {
      "nosaukums": "Uzņēmumu reģistrs: publisko personu un iestāžu saraksts",
      "url": "https://data.gov.lv/dati/dataset/public-persons-institutions",
      "licence": "CC0 1.0"
     },
     {
      "nosaukums": "VPVKAC kontakti (2023-11)",
      "url": "https://data.gov.lv/dati/lv/dataset/vpvkac-kontakti",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 3600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "kods": "100016688",
         "nosaukums": "Ogres novads",
         "tips": "novads",
         "atvk": "0040000",
         "majas_lapa": "https://www.ogresnovads.lv/lv",
         "ca_plans_url": "https://www.ogresnovads.lv/lv/media/127114/download?attachment",
         "ca_lapa": "https://www.ogresnovads.lv/lv/media/127114/download?attachment",
         "vpvkac": null,
         "vpvkac_skaits": 6,
         "kontakti": {
          "epasts": "ogredome@ogresnovads.lv",
          "talrunis": "+37165071160",
          "adrese": "Brīvības iela 33, Ogre, Ogres nov., LV-5001",
          "majas_lapa": "https://www.ogresnovads.lv"
         },
         "avoti": [
          {
           "nosaukums": "CA plāni hakatonam (pašvaldību tīmekļvietnes)",
           "licence": "Oficiāls dokuments",
           "url": "https://github.com/lata-org/ai-open-data-2026-hakatons/tree/main/ca-plani-hakatons"
          },
          {
           "nosaukums": "Uzņēmumu reģistrs: publisko personu un iestāžu saraksts",
           "licence": "CC0 1.0",
           "url": "https://data.gov.lv/dati/dataset/public-persons-institutions"
          },
          "… (+1)"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/bridinajumi": {
   "get": {
    "summary": "LVĢMC brīdinājumi",
    "description": "Spēkā esošie hidrometeoroloģiskie brīdinājumi; ar lat/lon — attiecas: vai punkts ir brīdinājuma poligonā.\n\nLaiki — Latvijas vietējie. Ja LVĢMC datne > 15 min nav pieejama vai > 15 min nerāda nevienu brīdinājumu, atbilde nāk no Meteoalarm (tie paši LVĢMC brīdinājumi): tā pati forma + rezerves: true (skat. lauku tabulu).",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": false,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": false,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     },
     {
      "name": "poligoni",
      "in": "query",
      "required": false,
      "description": "1 — pievienot brīdinājumu apgabalus poligoni: [[[lat, lon], …], …] (pilnā izšķirtspējā)",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "x-atbildes-lauki": [
     {
      "lauks": "bridinajumi[]",
      "nozime": "id, limenis (1–3), paradiba, no, lidz, apgabali, attiecas (true | false | null bez lat/lon)"
     },
     {
      "lauks": "rezerves",
      "nozime": "tikai rezerves atbildē: true — dati no Meteoalarm, nevis LVĢMC data.gov.lv"
     },
     {
      "lauks": "avots",
      "nozime": "\"lvgmc-bridinajumi\" parastā atbildē; rezerves atbildē — Meteoalarm avota apraksts"
     },
     {
      "lauks": "izdevejs, licence, url",
      "nozime": "rezerves atbildē: \"LVĢMC (caur Meteoalarm)\", CC BY 4.0 (Meteoalarm noteikumi), saite"
     },
     {
      "lauks": "atruna",
      "nozime": "rezerves atbildē: Meteoalarm atrunas teksts (jārāda lietotājam)"
     },
     {
      "lauks": "bridinajumi[].izdots",
      "nozime": "rezerves atbildē katram brīdinājumam: izdošanas laiks"
     },
     {
      "lauks": "ielasits",
      "nozime": "rezerves atbildē: kad Meteoalarm ielasīts"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC hidrometeoroloģiskie brīdinājumi",
      "url": "https://data.gov.lv/dati/lv/dataset/hidrometeorologiskie-bridinajumi",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 300,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "avots": "lvgmc-bridinajumi",
         "laiks_lv": "2026-10-10T05:27",
         "bridinajumi": [
          {
           "id": "28210",
           "nr": "10/17",
           "krasa": "Dzeltens",
           "limenis": 1,
           "paradiba": "Vējš",
           "regioni": "Latvija",
           "no": "2026-10-09T14:00:00",
           "lidz": "2026-10-10T07:00:00",
           "teksts": "09.-10.10.2026. nakts pirmajā pusē rietumu, ziemeļrietumu vējš saglabāsies brāzmās līdz 20-24 m/s. Vējš pakāpeniski pierims 09.-10.10. nakts…",
           "riski": "ESI INFORMĒTS par stipru vēju!\nNolauzti koku zari, nefiksēti priekšmeti vai atlūzas var tikt nestas pa gaisu.\nAtsevišķos rajonos var tikt tr…",
           "attiecas": true
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/pludi": {
   "get": {
    "summary": "Plūdu riska zona punktā",
    "description": "Vai punkts ir applūstošā teritorijā (pavasara pali, ledus sastrēgumi, jūras vējuzplūdi; 10 %, 1 %, 0,5 % varbūtība gadā).\n\nAvots atbild 1–30 s: ja ne 25 s laikā — HTTP 202 {ielade: true}, mēģiniet pēc 10 s. Kešs pēc punkta (~100 m) 24 h.",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": true,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": true,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC 3. cikla plūdu riska kartes (WMS, ĢeoLatvija.lv)",
      "url": "https://data.gov.lv/dati/lv/dataset/3-cikla-latvijas-pldu-postjumu-vietu-un-pldu-riska-kartes1",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 3600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "avots": "lvgmc-pludi",
         "zona": false,
         "veidi": [],
         "nepilnigi": false
        }
       }
      }
     },
     "202": {
      "description": "Avots vēl rēķina: {ielade: true}, mēģiniet pēc 10 s"
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/pludi/flize/{paka}/{z}/{x}/{y}.png": {
   "get": {
    "summary": "Plūdu zonu flīze (PNG)",
    "description": "Gatava 512 × 512 px caurspīdīga PNG flīze kartes slānim (XYZ, EPSG:3857, z 5–18): LVĢMC plūdu riska zonas, kas iet caur mūsu diska kešu, jo ĢeoLatvija WMS atbild 5–30 s un mēdz 504. Der Leaflet/MapLibre L.tileLayer.\n\nAtbilde ir image/png, nevis JSON; galvene X-Flize: kesa | jauna | veca | tukss (ārpus paketes pārklājuma) | aiznemts | kluda. Kešs: diskā 30 dienas (≤ 500 MB), HTTP 24 h (ETag, 304); veca flīze 1 h; aiznemts un kluda — no-store. Uz LVĢMC ≤ 4 pieprasījumi reizē: kas 5 s netiek pie kārtas, saņem 1 × 1 caurspīdīgu PNG (X-Flize: aiznemts) un jāmēģina vēlāk; neizdevusies flīze 60 s netiek pieprasīta (502, vai veca flīze, ja ir). Nederīga paka vai flīze ārpus robežām — 404 {kluda}; klients var atkāpties uz tiešo WMS.",
    "parameters": [
     {
      "name": "paka",
      "in": "path",
      "required": true,
      "description": "pali, ledus vai juras = 1 % (reizi 100 gados) applūšana; pali10, ledus10, juras10 = 10 % varbūtība (pavasara pali / ledus sastrēgumi / jūras vējuzplūdi)",
      "schema": {
       "type": "string"
      },
      "example": "pali"
     },
     {
      "name": "z",
      "in": "path",
      "required": true,
      "description": "tālummaiņa 5–18",
      "schema": {
       "type": "integer"
      },
      "example": "12"
     },
     {
      "name": "x",
      "in": "path",
      "required": true,
      "description": "flīzes kolonna, 0 … 2^z − 1",
      "schema": {
       "type": "integer"
      },
      "example": "2330"
     },
     {
      "name": "y",
      "in": "path",
      "required": true,
      "description": "flīzes rinda, 0 … 2^z − 1 (0 = ziemeļi)",
      "schema": {
       "type": "integer"
      },
      "example": "1195"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC 3. cikla plūdu riska kartes (WMS, ĢeoLatvija.lv)",
      "url": "https://data.gov.lv/dati/lv/dataset/3-cikla-latvijas-pldu-postjumu-vietu-un-pldu-riska-kartes1",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 86400,
    "responses": {
     "200": {
      "description": "PNG flīze; galvene X-Flize: kesa | jauna | veca | tukss | aiznemts",
      "content": {
       "image/png": {
        "schema": {
         "type": "string",
         "format": "binary"
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "404": {
      "description": "Nederīga paka vai flīze ārpus robežām: {kluda}"
     },
     "502": {
      "description": "LVĢMC neatbild un vecas flīzes nav: 1 × 1 PNG, no-store"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/udens": {
   "get": {
    "summary": "Ūdens līmenis upēs",
    "description": "Tuvākās LVĢMC hidroloģiskās stacijas: līmenis (cm virs posteņa nulles), izmaiņa 24 h, prognoze 7 dienām.\n\nValsts bīstamības līmeņi nav atvērtie dati; slieksnis ir tikai stacijām, kam to nosaka pašvaldības CA plāns (Ogre, Pļaviņas, Liepājas ezers), citām slieksnis, kritiskais un statuss ir null. Prognoze ir ~35 no 74 stacijām.",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": true,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": true,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "description": "1–10, noklusēti 3",
      "schema": {
       "type": "integer"
      },
      "example": "1"
     }
    ],
    "x-atbildes-lauki": [
     {
      "lauks": "stacijas[].limenis_m, izmaina_24h_cm …",
      "nozime": "līmenis un izmaiņa; vecs = true, ja mērījums vecāks par derīguma laiku"
     },
     {
      "lauks": "stacijas[].slieksnis",
      "nozime": "m LAS: līmenis, no kura CA plāns runā par applūšanas risku (vai null)"
     },
     {
      "lauks": "stacijas[].kritiskais",
      "nozime": "m LAS: kritiskais līmenis (vai null)"
     },
     {
      "lauks": "stacijas[].statuss",
      "nozime": "normals | paaugstinats | kritisks pēc sliekšņa (vai null, ja stacijai sliekšņa nav)"
     },
     {
      "lauks": "stacijas[].lidz_kritiskajam_m",
      "nozime": "cik metru vēl līdz kritiskajam"
     },
     {
      "lauks": "stacijas[].slieksnis_pienemts, vieta, sliekshna_avots",
      "nozime": "vai slieksnis ir pieņēmums, vietas nosaukums un avots (CA plāns ar lpp.)"
     },
     {
      "lauks": "stacijas[].prognoze",
      "nozime": "7 dienu prognoze: mediana_m/mediana_cm, josla_50_cm, josla_90_cm, izmaina_cm, virziens (kāpj | krīt | stabils), statuss, datums, avots = lvgmc-hidro-prognoze; null, ja stacijai prognozes nav"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC hidroloģiskie novērojumi",
      "url": "https://data.gov.lv/dati/lv/dataset/hidrometeorologiskie-noverojumi",
      "licence": "CC0 1.0"
     },
     {
      "nosaukums": "LVĢMC hidroloģiskās prognozes",
      "url": "https://data.gov.lv/dati/lv/dataset/hidrologiskas-prognozes",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "avots": "lvgmc-hidro",
         "stacijas": [
          {
           "stacija": "HD073401",
           "nosaukums": "Ogre",
           "limenis_cm": 56,
           "…": "+18 lauki"
          },
          {
           "stacija": "HD073418",
           "nosaukums": "Stariņi",
           "limenis_cm": -31,
           "…": "+14 lauki"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/prognoze": {
   "get": {
    "summary": "Prognoze 24 stundām vietai",
    "description": "Tuvākās apdzīvotās vietas LVĢMC stundu prognoze nākamajām 24 h: temperatūra, brāzmas, nokrišņi, negaiss un no tiem atvasināti riski (tuvināti LVĢMC kritērijiem, nav oficiāli brīdinājumi). Ja stundu ir par maz — prognoze: null.\n\nAvota dati tiek kešoti 30 min; izdota — prognozes izdošanas laiks.",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": true,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": true,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     }
    ],
    "x-atbildes-lauki": [
     {
      "lauks": "prognoze",
      "nozime": "objekts vai null: no, lidz (vietējais laiks), stundas, tmin/tmax °C, nokrisni_mm (summa), brazmas_max m/s, negaiss_max, riski (saraksts)"
     },
     {
      "lauks": "vieta",
      "nozime": "{id, nosaukums, attalums_m} — tuvākā apdzīvotā vieta, kuras prognoze atdota"
     },
     {
      "lauks": "izdota",
      "nozime": "prognozes izdošanas laiks vai null"
     },
     {
      "lauks": "avots",
      "nozime": "{nosaukums, licence, url}"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC meteoroloģiskās prognozes apdzīvotām vietām",
      "url": "https://data.gov.lv/dati/lv/dataset/meteorologiskas-prognozes-apdzivotam-vietam-jaunaka-datu-kopa",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "prognoze": {
          "no": "2026-10-10T05:00:00",
          "lidz": "2026-10-11T04:00:00",
          "stundas": 24,
          "tmin": 6.3,
          "tmax": 11.9,
          "nokrisni_mm": 0.8,
          "brazmas_max": 9.9,
          "negaiss_max": 0.0,
          "riski": []
         },
         "vieta": {
          "id": "P766",
          "nosaukums": "Ogre",
          "attalums_m": 595
         },
         "izdota": "2026-10-10T00:54:06Z",
         "avots": {
          "nosaukums": "LVĢMC meteoroloģiskās prognozes apdzīvotām vietām",
          "licence": "CC0 1.0",
          "url": "https://data.gov.lv/dati/lv/dataset/meteorologiskas-prognozes-apdzivotam-vietam-jaunaka-datu-kopa"
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/prognozes": {
   "get": {
    "summary": "Laika prognoze pa novadiem",
    "description": "LVĢMC prognozes apdzīvotām vietām, apkopotas pa novadiem 3 dienām, + ziņas un brīdinājumu poligoni: bridinajumu_poligoni = [{id, limenis, paradiba, poligons: [[lat, lon], …]}] (vienkāršoti, 4 zīmes aiz komata; tos zīmē kartes zonas). Ziņu lentē katram novadam ar zibeni pēdējās 30 min ir ieraksts veids = \"zibens\" (FMI, CC BY 4.0).\n\nSliekšņi ziņām ir tuvināti LVĢMC kritērijiem, tie nav oficiāli brīdinājumi. Zibens ieraksti atjaunojas ik 60 s, pārējais — ik 5 min (HTTP kešs 5 min).",
    "parameters": [],
    "x-atbildes-lauki": [
     {
      "lauks": "zinas[]",
      "nozime": "ziņu lente: veids (vējš, nokrišņi, … vai zibens), limenis, vieta, virsraksts, teksts, regioni, bbox, avots; zibens ieraksti tikai novadiem ar izlādēm pēdējās 30 min"
     },
     {
      "lauks": "bridinajumu_poligoni[]",
      "nozime": "{id, limenis, paradiba, poligons: [[lat, lon], …]} kartes zonām"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC meteoroloģiskās prognozes apdzīvotām vietām",
      "url": "https://data.gov.lv/dati/lv/dataset/meteorologiskas-prognozes-apdzivotam-vietam-jaunaka-datu-kopa",
      "licence": "CC0 1.0"
     },
     {
      "nosaukums": "LVĢMC hidrometeoroloģiskie brīdinājumi (poligoni)",
      "url": "https://data.gov.lv/dati/lv/dataset/hidrometeorologiskie-bridinajumi",
      "licence": "CC0 1.0"
     },
     {
      "nosaukums": "Ilmatieteen laitos (FMI) atvērtie dati (zibens ziņas)",
      "url": "https://en.ilmatieteenlaitos.fi/open-data",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 300,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "laiks_lv": "2026-10-10T05:23",
         "prognoze_mainita": "Sat, 10 Oct 2026 00:55:15 GMT",
         "dienas": [
          {
           "datums": "2026-10-11",
           "nosaukums": "Rīt"
          },
          {
           "datums": "2026-10-12",
           "nosaukums": "Parīt"
          },
          "… (+1)"
         ],
         "zinas": [
          {
           "veids": "noverojums",
           "paradiba": "Vējš",
           "limenis": 1,
           "datums": "2026-10-10",
           "diena": "Šobrīd",
           "virsraksts": "Šobrīd brāzmas līdz 18 m/s (Daugavgrīva, 04:00)",
           "teksts": "LVĢMC stacijās ar brāzmām no 15 m/s: 3 (arī Ventspils 17, Rēzekne 16 m/s).",
           "regioni": [
            "100003003",
            "100003060",
            "… (+1)"
           ],
           "bbox": [
            23.721111,
            56.86,
            24.321111000000002,
            57.260000000000005
           ],
           "avots": {
            "nosaukums": "LVĢMC hidrometeoroloģiskie novērojumi (meteoroloģiskie operatīvie dati)",
            "licence": "CC0 1.0",
            "url": "https://data.gov.lv/dati/lv/dataset/hidrometeorologiskie-noverojumi"
           }
          },
          {
           "veids": "riski",
           "paradiba": "Risks",
           "limenis": 2,
           "datums": "2026-10-11",
           "diena": "Rīt",
           "virsraksts": "Rīt paaugstināts risks: Kurzeme (nokrišņi līdz 21 mm), Latgale (nokrišņi līdz 17 mm), Vidzeme (nokrišņi līdz 16 mm)",
           "teksts": "Novadi ar paaugstinātu risku: 6. Riska karte apvieno LVĢMC brīdinājumus, prognozi, zibeni, slidenus ceļus un upju līmeni; tas ir mūsu aprēķi…",
           "regioni": [
            "100016333",
            "100016495",
            "… (+4)"
           ],
           "bbox": [
            20.9621,
            55.7834,
            28.2415,
            57.9905
           ],
           "avots": {
            "nosaukums": "LVĢMC meteoroloģiskās prognozes apdzīvotām vietām",
            "licence": "CC0 1.0",
            "url": "https://data.gov.lv/dati/lv/dataset/meteorologiskas-prognozes-apdzivotam-vietam-jaunaka-datu-kopa"
           }
          },
          "… (+7)"
         ],
         "regioni": {
          "100016727": {
           "nosaukums": "Preiļu novads",
           "planosanas_regions": "Latgalē",
           "dienas": {
            "2026-10-11": {
             "brazmas": 9.5,
             "brazmas_vieta": "Červoniki",
             "nokrisni": 7.0,
             "nokrisni_vieta": "Rotka",
             "tmax": 11.6,
             "tmin": 9.5,
             "varbutiba": 0.0,
             "ikona": 1407,
             "vietas": 650,
             "laiks": "apmācies, migla, lietus"
            },
            "2026-10-12": {
             "brazmas": 6.8,
             "brazmas_vieta": "Spričvecumi",
             "nokrisni": 5.1,
             "nokrisni_vieta": "Šilova",
             "tmax": 12.3,
             "tmin": 6.5,
             "varbutiba": 0.0,
             "ikona": 1403,
             "vietas": 650,
             "laiks": "mākoņains, brīžiem skaidrojas, migla"
            },
            "2026-10-13": {
             "brazmas": 3.5,
             "brazmas_vieta": "Šumski",
             "nokrisni": 0.0,
             "nokrisni_vieta": "Želvi",
             "tmax": 11.9,
             "tmin": 5.0,
             "varbutiba": 0.0,
             "ikona": 1103,
             "vietas": 650,
             "laiks": "mākoņains, brīžiem skaidrojas"
            }
           }
          },
          "100016630": {
           "nosaukums": "Aizkraukles novads",
           "planosanas_regions": "Zemgalē",
           "dienas": {
            "2026-10-11": {
             "brazmas": 9.0,
             "brazmas_vieta": "Bitāni",
             "nokrisni": 5.3,
             "nokrisni_vieta": "Vecbebri",
             "tmax": 12.7,
             "tmin": 9.0,
             "varbutiba": 0.0,
             "ikona": 1504,
             "vietas": 41,
             "laiks": "apmācies, lietus"
            },
            "2026-10-12": {
             "brazmas": 7.4,
             "brazmas_vieta": "Gricgale",
             "nokrisni": 0.8,
             "nokrisni_vieta": "Koknese",
             "tmax": 12.0,
             "tmin": 4.6,
             "varbutiba": 0.0,
             "ikona": 1403,
             "vietas": 41,
             "laiks": "mākoņains, brīžiem skaidrojas, migla"
            },
            "2026-10-13": {
             "brazmas": 3.5,
             "brazmas_vieta": "Ērberģe",
             "nokrisni": 0.0,
             "nokrisni_vieta": "Ķūģi",
             "tmax": 12.6,
             "tmin": 4.5,
             "varbutiba": 0.0,
             "ikona": 1403,
             "vietas": 41,
             "laiks": "mākoņains, brīžiem skaidrojas, migla"
            }
           }
          },
          "100016768": {
           "nosaukums": "Siguldas novads",
           "planosanas_regions": "Rīgā un Pierīgā",
           "dienas": {
            "2026-10-11": {
             "brazmas": 10.0,
             "brazmas_vieta": "Nurmiži",
             "nokrisni": 6.2,
             "nokrisni_vieta": "Lode",
             "tmax": 12.2,
             "tmin": 8.2,
             "varbutiba": 0.0,
             "ikona": 1506,
             "vietas": 32,
             "laiks": "mākoņains, brīžiem skaidrojas, lietus"
            },
            "2026-10-12": {
             "brazmas": 5.9,
             "brazmas_vieta": "Nurmiži",
             "nokrisni": 0.0,
             "nokrisni_vieta": "Ķipari",
             "tmax": 12.2,
             "tmin": 5.7,
             "varbutiba": 0.0,
             "ikona": 1403,
             "vietas": 32,
             "laiks": "mākoņains, brīžiem skaidrojas, migla"
            },
            "2026-10-13": {
             "brazmas": 3.8,
             "brazmas_vieta": "More",
             "nokrisni": 0.0,
             "nokrisni_vieta": "Ķipari",
             "tmax": 12.8,
             "tmin": 4.1,
             "varbutiba": 0.0,
             "ikona": 1403,
             "vietas": 32,
             "laiks": "mākoņains, brīžiem skaidrojas, migla"
            }
           }
          },
          "…": "+39 lauki"
         },
         "bridinajumu_poligoni": [
          {
           "id": "28210",
           "limenis": 1,
           "paradiba": "Vējš",
           "poligons": [
            [
             56.2791,
             28.2415
            ],
            [
             56.3579,
             28.1938
            ],
            "… (+323)"
           ]
          }
         ],
         "sliekshni": {
          "brazmas": [
           [
            15,
            0
           ],
           [
            20,
            1
           ],
           "… (+2)"
          ],
          "nokrisni": [
           [
            10,
            0
           ],
           [
            15,
            1
           ],
           "… (+2)"
          ],
          "karstums": [
           [
            27,
            0
           ],
           [
            30,
            1
           ],
           "… (+1)"
          ],
          "sals": [
           [
            0,
            0
           ],
           [
            -20,
            1
           ],
           "… (+2)"
          ]
         },
         "riski": {
          "100016727": {
           "sodien": 0,
           "rit": 0,
           "iemesli": []
          },
          "100016630": {
           "sodien": 0,
           "rit": 0,
           "iemesli": []
          },
          "100016768": {
           "sodien": 0,
           "rit": 0,
           "iemesli": []
          },
          "…": "+39 lauki"
         },
         "riska_dienas": {
          "sodien": "2026-10-11",
          "rit": "2026-10-12"
         },
         "riska_limeni": {
          "0": "nav",
          "1": "paaugstināts",
          "2": "augsts",
          "3": "ļoti augsts"
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/prognozes/robezas": {
   "get": {
    "summary": "Novadu robežas prognozei",
    "description": "Vienkāršotas novadu un valstspilsētu robežas (GeoJSON) kartes iekrāsošanai.",
    "parameters": [],
    "x-avoti": [
     {
      "nosaukums": "VZD Valsts adrešu reģistra atvērtie dati",
      "url": "https://data.gov.lv/dati/lv/dataset/varis-atvertie-dati",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 86400,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "type": "FeatureCollection",
         "features": [
          {
           "type": "Feature",
           "id": "100016727",
           "properties": {
            "kods": "100016727",
            "nosaukums": "Preiļu novads"
           },
           "geometry": {
            "type": "Polygon",
            "coordinates": [
             [
              [
               27.135,
               56.095
              ],
              [
               27.095,
               56.102
              ],
              "… (+159)"
             ]
            ]
           }
          },
          {
           "type": "Feature",
           "id": "100016630",
           "properties": {
            "kods": "100016630",
            "nosaukums": "Aizkraukles novads"
           },
           "geometry": {
            "type": "Polygon",
            "coordinates": [
             [
              [
               25.018,
               56.549
              ],
              [
               24.981,
               56.552
              ],
              "… (+177)"
             ]
            ]
           }
          },
          "… (+40)"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/zibens": {
   "get": {
    "summary": "Zibens",
    "description": "Zibens izlādes pēdējās 30 min Latvijas apgabalā + LVĢMC 24 h zibens režģis.",
    "parameters": [],
    "x-avoti": [
     {
      "nosaukums": "Ilmatieteen laitos (FMI) atvērtie dati",
      "url": "https://en.ilmatieteenlaitos.fi/open-data",
      "licence": "CC BY 4.0"
     },
     {
      "nosaukums": "LVĢMC telpiskie novērojumi (zibens režģis)",
      "url": "https://data.gov.lv/dati/lv/dataset/telpiskie-hidrometeorologiskie-noverojumi",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 60,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "minutes": 30,
         "zibeni": [],
         "skaits": 0,
         "no": "2026-10-10T00:14:52+00:00",
         "lidz": "2026-10-10T00:44:52+00:00",
         "avots": {
          "nosaukums": "Ilmatieteen laitos (FMI) atvērtie dati",
          "licence": "CC BY 4.0",
          "url": "https://en.ilmatieteenlaitos.fi/open-data"
         },
         "rezgis_24h": {
          "lidz_lv": "2026-10-09 23:00:00",
          "sunas": []
         },
         "rezgis_avots": {
          "nosaukums": "LVĢMC telpiskie novērojumi (zibens režģis, 24 h)",
          "licence": "CC0 1.0",
          "url": "https://data.gov.lv/dati/lv/dataset/telpiskie-hidrometeorologiskie-noverojumi"
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/augsne": {
   "get": {
    "summary": "Nokrišņi un augsnes mitrums",
    "description": "Nokrišņi pēdējās 26 dienās un nākamajās 3, augsnes mitrums 3–9 cm (modeļa dati, nav brīdinājums).",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": true,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": true,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "Open-Meteo",
      "url": "https://open-meteo.com/",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 3600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "nokrisni_pagatne_mm": 56.7,
         "dienas_pagatne": 26,
         "nokrisni_prognoze_mm": 5.9,
         "dienas_prognoze": 3,
         "augsnes_mitrums": 0.417,
         "augsne": "ļoti mitra",
         "avots": {
          "nosaukums": "Open-Meteo",
          "licence": "CC BY 4.0",
          "url": "https://open-meteo.com/"
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/marsruts": {
   "get": {
    "summary": "Maršruts",
    "description": "Kājām vai ar auto, var apiet slēgtas zonas (izvairities).\n\nLīdz 60 km. Lūdzu, nelietojiet masveidā — FOSSGIS serveris ir bezmaksas.",
    "parameters": [
     {
      "name": "no",
      "in": "query",
      "required": true,
      "description": "sākums lat,lon",
      "schema": {
       "type": "string"
      },
      "example": "56.8166,24.6046"
     },
     {
      "name": "uz",
      "in": "query",
      "required": true,
      "description": "galamērķis lat,lon",
      "schema": {
       "type": "string"
      },
      "example": "56.8139,24.6093"
     },
     {
      "name": "veids",
      "in": "query",
      "required": false,
      "description": "kajam (noklusēti) vai auto",
      "schema": {
       "type": "string"
      },
      "example": "kajam"
     },
     {
      "name": "izvairities",
      "in": "query",
      "required": false,
      "description": "zonas: c:lat,lon,r_m vai poligons lat,lon;lat,lon;… atdalītas ar |",
      "schema": {
       "type": "string"
      }
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "FOSSGIS OSRM (routing.openstreetmap.de), OpenStreetMap dati",
      "url": "https://routing.openstreetmap.de/about.html",
      "licence": "ODbL 1.0"
     }
    ],
    "x-kesa-sekundes": 600,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "dross": true,
         "apiet_zonu": false,
         "veids": "kajam",
         "no_zonas": false,
         "attalums_m": 489,
         "ilgums_s": 391,
         "koord": [
          [
           56.81661,
           24.60457
          ],
          [
           56.81651,
           24.60446
          ],
          "… (+16)"
         ],
         "zonas": 0,
         "avots": {
          "nosaukums": "FOSSGIS OSRM (routing.openstreetmap.de), OpenStreetMap dati",
          "licence": "ODbL 1.0",
          "url": "https://routing.openstreetmap.de/about.html"
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/noverojumi": {
   "get": {
    "summary": "Laikapstākļi tagad",
    "description": "LVĢMC meteostaciju jaunākās brāzmas, vējš, temperatūra, nokrišņi; ar lat/lon — tuvākās.",
    "parameters": [
     {
      "name": "lat",
      "in": "query",
      "required": false,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": false,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "description": "1–100",
      "schema": {
       "type": "integer"
      },
      "example": "2"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC meteoroloģiskie operatīvie dati",
      "url": "https://data.gov.lv/dati/lv/dataset/hidrometeorologiskie-noverojumi",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 300,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "avots": {
          "nosaukums": "LVĢMC hidrometeoroloģiskie novērojumi (meteoroloģiskie operatīvie dati)",
          "licence": "CC0 1.0",
          "url": "https://data.gov.lv/dati/lv/dataset/hidrometeorologiskie-noverojumi"
         },
         "vecs_h": 3,
         "stacijas": [
          {
           "id": "LIELPECI",
           "nosaukums": "Lielpēči",
           "lat": 56.804167,
           "lon": 24.713889,
           "nokrisni_1h": 0.5,
           "laiks": "2026-10-10T00:00:00Z",
           "vecs": false,
           "attalums_m": 6794
          },
          {
           "id": "RIGASLU",
           "nosaukums": "Rīga Universitāte",
           "lat": 56.954797,
           "lon": 24.104686,
           "brazmas": 13.3,
           "vejs": 7.0,
           "virziens": 276.0,
           "temp": 9.6,
           "nokrisni_1h": 0.0,
           "laiks": "2026-10-10T00:00:00Z",
           "vecs": false,
           "attalums_m": 34035
          }
         ],
         "maks_brazmas": {
          "nosaukums": "Daugavgrīva",
          "brazmas": 19.3,
          "laiks": "2026-10-10T00:00:00Z",
          "lat": 57.06,
          "lon": 24.021111
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/celi": {
   "get": {
    "summary": "Ceļu slēgumi un negadījumi",
    "description": "Spēkā esošie un plānotie notikumi uz valsts autoceļiem: negadījumi, remontdarbi, slidens ceļš.",
    "parameters": [
     {
      "name": "bbox",
      "in": "query",
      "required": false,
      "description": "minLon,minLat,maxLon,maxLat",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lat",
      "in": "query",
      "required": false,
      "description": "platums (WGS-84), Latvijā 55–59",
      "schema": {
       "type": "number"
      },
      "example": "56.8166"
     },
     {
      "name": "lon",
      "in": "query",
      "required": false,
      "description": "garums (WGS-84), Latvijā 20–29",
      "schema": {
       "type": "number"
      },
      "example": "24.6046"
     },
     {
      "name": "r",
      "in": "query",
      "required": false,
      "description": "rādiuss metros (100–100000) ap lat/lon",
      "schema": {
       "type": "number"
      },
      "example": "5000"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVC DATEX II caur Nacionālo piekļuves punktu",
      "url": "https://transportdata.gov.lv/",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 120,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "avots": "lvc-nap",
         "konfigurets": true,
         "notikumi": [
          {
           "id": "6a54b699bf732a1a4c9649e1",
           "tips": "remonts",
           "nosaukums": "Ceļa būvdarbi",
           "apraksts": "Slēgta labās puses brauktuve (Ogres virzienā). Divvirzienu satiksme pārslēgta uz Rīgas virziena  brauktuvi.\nLīdz ar slēgto labo brauktuvi na…",
           "cels": null,
           "lat": 56.83479,
           "lon": 24.50249,
           "linija": [
            [
             56.83479,
             24.50249
            ],
            [
             56.83399,
             24.50466
            ],
            "… (+31)"
           ],
           "no": "2026-07-13T08:00:00+03:00",
           "lidz": "2027-03-10T17:00:00+02:00",
           "aktivs": true,
           "attalums_m": 2793
          },
          {
           "id": "6a4c92c9bf732a1a4c9648cc",
           "tips": "remonts",
           "nosaukums": "Ceļa būvdarbi",
           "apraksts": "Būvdarbi, ātruma ierobežojums 50 km/h",
           "cels": null,
           "lat": 56.86408,
           "lon": 24.561,
           "linija": [
            [
             56.86408,
             24.561
            ],
            [
             56.86402,
             24.56109
            ],
            "… (+11)"
           ],
           "no": "2026-07-07T08:46:04+03:00",
           "lidz": "2026-10-15T16:46:04+03:00",
           "aktivs": true,
           "attalums_m": 5366
          },
          "… (+2)"
         ],
         "nepieejami": []
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/satiksme": {
   "get": {
    "summary": "Satiksme zonās",
    "description": "Satiksmes līmenis pa pašvaldībām no uzskaites iekārtām (minūšu ātrums), slidenā ceļa vietas, robežu gaidīšana.\n\nBrīvas plūsmas ātrums ir novērtējums; zonu apkopojums — atvasināti dati (CC BY 4.0).",
    "parameters": [],
    "x-avoti": [
     {
      "nosaukums": "LVC satiksmes intensitāte un ātrums, slidens ceļš (NAP)",
      "url": "https://transportdata.gov.lv/",
      "licence": "CC0 1.0"
     },
     {
      "nosaukums": "map.repo.lv (atvasināti dati)",
      "url": "https://github.com/noiseparty/hakatons",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 60,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "avots": "lvc-nap",
         "laiks": "2026-10-10T00:45:57+00:00",
         "kopas": {
          "vietas": {
           "konfigurets": true,
           "pieejams": true,
           "kluda": null,
           "nosaukums": "Satiksmes uzskaites iekārtu atrašanās vietas",
           "datu_kopa_url": "https://transportdata.gov.lv/card/fef717ac-c832-49b2-8589-521084cdb595",
           "licence": "CC0 1.0",
           "licences_url": "https://creativecommons.org/publicdomain/zero/1.0/"
          },
          "merijumi": {
           "konfigurets": true,
           "pieejams": true,
           "kluda": null,
           "nosaukums": "Satiksmes intensitāte un ātrums valsts autoceļos (minūtes dati)",
           "datu_kopa_url": "https://transportdata.gov.lv/card/ed1f0d2c-6ad8-4823-b132-71fc69993d1c",
           "licence": "CC0 1.0",
           "licences_url": "https://creativecommons.org/publicdomain/zero/1.0/"
          },
          "slidens_meteo": {
           "konfigurets": true,
           "pieejams": true,
           "kluda": null,
           "nosaukums": "Īslaicīgi slidens ceļš (meteostaciju dati)",
           "datu_kopa_url": "https://transportdata.gov.lv/card/46cd2e45-33b7-492c-a163-a9dd5508ede4",
           "licence": "CC0 1.0",
           "licences_url": "https://creativecommons.org/publicdomain/zero/1.0/"
          },
          "slidens_uzturetaji": {
           "konfigurets": true,
           "pieejams": true,
           "kluda": null,
           "nosaukums": "Īslaicīgi slidens ceļš (ceļu uzturētāju ziņojumi)",
           "datu_kopa_url": "https://transportdata.gov.lv/card/6749e127-7520-4790-8d6a-ad4a0270d1fe",
           "licence": "CC0 1.0",
           "licences_url": "https://creativecommons.org/publicdomain/zero/1.0/"
          },
          "slidens_sic": {
           "konfigurets": true,
           "pieejams": true,
           "kluda": null,
           "nosaukums": "Īslaicīgi slidens ceļš (Satiksmes informācijas centrs)",
           "datu_kopa_url": "https://transportdata.gov.lv/card/f3204a64-3dc3-4ed6-b6f0-872f58500735",
           "licence": "CC0 1.0",
           "licences_url": "https://creativecommons.org/publicdomain/zero/1.0/"
          },
          "robezas": {
           "konfigurets": true,
           "pieejams": false,
           "kluda": "HTTP 403: Access forbidden!",
           "nosaukums": "Robežšķērsošanas gaidīšanas laiks",
           "datu_kopa_url": "https://transportdata.gov.lv/card/cb730ba2-6466-45b5-99e4-66b9bde30dae",
           "licence": "CC0 1.0",
           "licences_url": "https://creativecommons.org/publicdomain/zero/1.0/"
          }
         },
         "zonas": [
          {
           "kods": "100016630",
           "nosaukums": "Aizkraukles novads",
           "bbox": [
            24.89175,
            56.14491,
            25.94847,
            56.82936
           ],
           "tips": "regions",
           "limenis": 0,
           "limenis_teksts": "brīvs",
           "atrums_vid": 77.0,
           "atrums_brivs": 90.5,
           "plusma_h": 2,
           "merijumi": 2,
           "iekartas": 2,
           "laiks": "2026-10-10T00:39:00.000Z"
          },
          {
           "kods": "100016462",
           "nosaukums": "Augšdaugavas novads",
           "bbox": [
            25.82043,
            55.67468,
            26.98455,
            56.20823
           ],
           "tips": "regions",
           "limenis": 0,
           "limenis_teksts": "brīvs",
           "atrums_vid": 97.5,
           "atrums_brivs": 97.5,
           "plusma_h": 2,
           "merijumi": 2,
           "iekartas": 3,
           "laiks": "2026-10-10T00:33:00.000Z"
          },
          "… (+28)"
         ],
         "punkti": [
          {
           "id": "68c924b023ee40cfa9508f1e",
           "lat": 57.62094,
           "lon": 24.38794,
           "nosaukums": null,
           "zona": "100016606",
           "atrums": 90.1,
           "atrums_brivs": 95.9,
           "plusma_h": 1,
           "limenis": 0,
           "limenis_teksts": "brīvs",
           "laiks": "2026-10-10T00:43:00.000Z"
          },
          {
           "id": "68ca545e23ee40cfa9508f1f",
           "lat": 57.02544,
           "lon": 24.31899,
           "nosaukums": null,
           "zona": "100016784",
           "atrums": 92.9,
           "atrums_brivs": 92.9,
           "plusma_h": 2,
           "limenis": 0,
           "limenis_teksts": "brīvs",
           "laiks": "2026-10-10T00:43:00.000Z"
          },
          "… (+75)"
         ],
         "stacijas": [],
         "robezas": [],
         "piezime": "Līmenis: vidējais ātrums pret brīvas plūsmas ātrumu iekārtā (≥ 75 % brīvs, ≥ 50 % lēns, citādi sastrēgums). Brīvas plūsmas ātrums ir novērtē…"
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/statuss": {
   "get": {
    "summary": "Sistēmas statuss",
    "description": "Vietnes, API un katra datu avota stāvoklis, 24 h pa 15 min, pieejamība 7 dienās; arejie_avoti (pēdējā veiksme, kļūda, keša vecums, rezerve katram ārējam avotam), flizes (plūdu flīžu kešs), zinojumi (skaits, balsis stundā, limita atteikumi), slani (objekti kartē pret repozitorija failu, ieladejams).",
    "parameters": [],
    "x-avoti": [
     {
      "nosaukums": "map.repo.lv (atvasināti dati)",
      "url": "https://github.com/noiseparty/hakatons",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 60,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "laiks": "2026-10-10T00:46:04+00:00",
         "intervals_min": 15,
         "komponenti": [
          {
           "kods": "vietne",
           "nosaukums": "Karte (map.repo.lv)",
           "apraksts": "Vai lapa atveras",
           "avots": {
            "nosaukums": "map.repo.lv pirmkods",
            "url": "https://github.com/noiseparty/hakatons",
            "licence": null,
            "licences_url": null
           },
           "stavoklis": "darbojas",
           "zinojums": "Atbild 0,0 s",
           "parbaudits": "2026-10-10T03:45:20+03:00",
           "ilgums_ms": 26,
           "joslas": [
            {
             "sakums": "2026-10-09T01:00:00+00:00",
             "stavoklis": null
            },
            {
             "sakums": "2026-10-09T01:15:00+00:00",
             "stavoklis": null
            },
            "… (+94)"
           ],
           "pieejamiba_7d": 100.0
          },
          {
           "kods": "api",
           "nosaukums": "API un datubāze",
           "apraksts": "Kartes objekti, slāņi un avoti",
           "avots": null,
           "stavoklis": "darbojas",
           "zinojums": "19056 objekti kartē",
           "parbaudits": "2026-10-10T03:45:20+03:00",
           "ilgums_ms": 60,
           "joslas": [
            {
             "sakums": "2026-10-09T01:00:00+00:00",
             "stavoklis": null
            },
            {
             "sakums": "2026-10-09T01:15:00+00:00",
             "stavoklis": null
            },
            "… (+94)"
           ],
           "pieejamiba_7d": 100.0
          },
          "… (+15)"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/meklejumi/top": {
   "get": {
    "summary": "Biežāk meklētais",
    "description": "Biežāk meklētie atpazītie vaicājumi pēdējās 14 dienās (bez lietotāju datiem).",
    "parameters": [
     {
      "name": "n",
      "in": "query",
      "required": false,
      "description": "1–10, noklusēti 3",
      "schema": {
       "type": "integer"
      },
      "example": "5"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "map.repo.lv (atvasināti dati)",
      "url": "https://github.com/noiseparty/hakatons",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 60,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "vaicajumi": [
          "nav elektrības",
          "plūdi ogrē",
          "… (+3)"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/zinojumi": {
   "get": {
    "summary": "Iedzīvotāju ziņojumi",
    "description": "Iedzīvotāju ziņojumi (nav oficiāla informācija) pēdējās dienās, vieta noapaļota līdz ~1 km. Katram balsis: apstiprina un apstrid (citi iedzīvotāji, POST …/apstiprinat|apstridet); ziņojumu ar apstrid > apstiprina + 2 vairs nerāda.\n\nJa apdraudēta dzīvība, zvaniet 112. Balsošana (POST) ir ierobežota: ≤ 60 balsis minūtē visiem kopā, ≤ 20 stundā vienam ziņojumam un ≤ 30 stundā no viena tīkla (IP tikai kā jaucējvērtība) — pārsniedzot, HTTP 429 {kluda}. Atbildes ar 429 nekešo.",
    "parameters": [
     {
      "name": "dienas",
      "in": "query",
      "required": false,
      "description": "1–7",
      "schema": {
       "type": "integer"
      },
      "example": "7"
     },
     {
      "name": "bbox",
      "in": "query",
      "required": false,
      "description": "minLon,minLat,maxLon,maxLat",
      "schema": {
       "type": "string"
      }
     }
    ],
    "x-atbildes-lauki": [
     {
      "lauks": "zinojumi[]",
      "nozime": "id, tips, apraksts, lat/lon (~1 km), laiks, apstiprina, apstrid, statuss"
     },
     {
      "lauks": "avots, atruna",
      "nozime": "licence CC BY 4.0 un norāde, ka tā nav oficiāla informācija"
     },
     {
      "lauks": "pieejams",
      "nozime": "false, ja ziņojumu tabula nav pieejama"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "Iedzīvotāju ziņojumi (map.repo.lv)",
      "url": "https://map.repo.lv/",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 15,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "avots": {
          "nosaukums": "Iedzīvotāju ziņojumi (map.repo.lv)",
          "licence": "CC BY 4.0",
          "licences_url": "https://creativecommons.org/licenses/by/4.0/"
         },
         "atruna": "Iedzīvotāju ziņojumi, nav oficiāla informācija, CC BY 4.0. Ja apdraudēta dzīvība, zvaniet 112.",
         "dienas": 7,
         "tipi": {
          "koks": "Nokritis koks",
          "cels": "Neizbraucams ceļš",
          "elektriba": "Bojāta elektrolīnija",
          "udens": "Applūdums",
          "cits": "Cita bīstamība"
         },
         "pieejams": true,
         "zinojumi": []
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/plusma.xml": {
   "get": {
    "summary": "Abonēt: Atom/RSS plūsma",
    "description": "Pašvaldības (vai visas Latvijas) situācija kā Atom 1.0 plūsma jebkurai RSS lietotnei: LVĢMC brīdinājumi, rītdienas prognoze (brāzmas ≥ 15 m/s vai nokrišņi ≥ 15 mm), upes, kas 24 h kāpušas > 10 cm, LVC slēgumi un negadījumi, zibens pēdējās 30 min. Katrā ierakstā avots un licence; ieraksta <id> ir stabils.\n\napplication/atom+xml; apkopojums CC BY 4.0, ierakstu dati — avota licence.",
    "parameters": [
     {
      "name": "regions",
      "in": "query",
      "required": false,
      "description": "pašvaldības VZD kods (no /api/regioni) vai ATVK; bez tā — visa Latvija",
      "schema": {
       "type": "string"
      },
      "example": "100016688"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC brīdinājumi, prognozes, hidroloģiskie novērojumi",
      "url": "https://data.gov.lv/dati/lv/organization/lvgmc",
      "licence": "CC0 1.0"
     },
     {
      "nosaukums": "LVC ceļu notikumi (NAP)",
      "url": "https://transportdata.gov.lv/",
      "licence": "CC0 1.0"
     },
     {
      "nosaukums": "FMI zibens",
      "url": "https://en.ilmatieteenlaitos.fi/open-data",
      "licence": "CC BY 4.0"
     },
     {
      "nosaukums": "map.repo.lv (atvasināti dati)",
      "url": "https://github.com/noiseparty/hakatons",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 300,
    "responses": {
     "200": {
      "description": "Atom 1.0",
      "content": {
       "application/atom+xml": {}
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/kalendars.ics": {
   "get": {
    "summary": "Abonēt: kalendārs",
    "description": "LVĢMC brīdinājumi pašvaldībai kā iCalendar notikumi (sākums–beigas) — pievienojiet kā abonētu kalendāru (Google, Apple, Outlook).\n\ntext/calendar; laiki UTC; UID stabils (brīdinājuma id + reģions).",
    "parameters": [
     {
      "name": "regions",
      "in": "query",
      "required": false,
      "description": "pašvaldības VZD kods vai ATVK; bez tā — visa Latvija",
      "schema": {
       "type": "string"
      },
      "example": "100016688"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "LVĢMC hidrometeoroloģiskie brīdinājumi",
      "url": "https://data.gov.lv/dati/lv/dataset/hidrometeorologiskie-bridinajumi",
      "licence": "CC0 1.0"
     }
    ],
    "x-kesa-sekundes": 300,
    "responses": {
     "200": {
      "description": "iCalendar",
      "content": {
       "text/calendar": {}
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  },
  "/api/veseliba": {
   "get": {
    "summary": "Veselības pārbaude",
    "description": "Vai API un datubāze atbild, kā arī spēkā esošo brīdinājumu skaits LVĢMC pret Meteoalarm, ārējo avotu stāvoklis (arejie_avoti) un plūdu flīžu keša skaitītāji (flizes); ar statistika=1 — keša un datubāzes skaitītāji (skat. zemāk).\n\nNekešo. bridinajumi tiek lasīts tikai no keša (nebloķē); ja Meteoalarm kešs novecojis, to fonā atjauno.",
    "parameters": [
     {
      "name": "statistika",
      "in": "query",
      "required": false,
      "description": "1 — pievienot skaitītājus",
      "schema": {
       "type": "integer"
      },
      "example": "1"
     }
    ],
    "x-atbildes-lauki": [
     {
      "lauks": "ok",
      "nozime": "datubāze atbild"
     },
     {
      "lauks": "bridinajumi.lvgmc / meteoalarm",
      "nozime": "spēkā esošo brīdinājumu skaits katrā avotā (null, ja kešā vēl nav)"
     },
     {
      "lauks": "bridinajumi.lvgmc_atbildeja",
      "nozime": "kad pēdējo reizi atbildēja LVĢMC (ISO, UTC) vai null"
     },
     {
      "lauks": "bridinajumi.rezerves_aktivs",
      "nozime": "true, ja /api/bridinajumi pēdējās 20 min atbildēja no Meteoalarm"
     }
    ],
    "x-avoti": [
     {
      "nosaukums": "map.repo.lv (atvasināti dati)",
      "url": "https://github.com/noiseparty/hakatons",
      "licence": "CC BY 4.0"
     }
    ],
    "x-kesa-sekundes": 0,
    "responses": {
     "200": {
      "description": "JSON",
      "content": {
       "application/json": {
        "example": {
         "ok": true,
         "bridinajumi": {
          "lvgmc": 1,
          "meteoalarm": 4,
          "lvgmc_atbildeja": "2026-10-10T02:22:34+00:00",
          "rezerves_aktivs": false
         },
         "statistika": {
          "db_vaicajumi": 2802,
          "db_parslodze": 0,
          "kesa": {
           "pasvaldibas": {
            "no_kesas": 127,
            "uz_avotu": 1,
            "novecojusi": 0,
            "gaidija": 0
           },
           "bridinajumi": {
            "no_kesas": 1089,
            "uz_avotu": 3,
            "novecojusi": 5,
            "gaidija": 1
           },
           "zibens_fmi": {
            "no_kesas": 16,
            "uz_avotu": 21,
            "novecojusi": 23,
            "gaidija": 0
           },
           "…": "+23 lauki"
          },
          "flizes": {
           "kluda": 72,
           "aiznemts": 22,
           "jauna": 207,
           "kesa": 581
          },
          "db_vienlaicigi": 16,
          "pavedieni": 30
         }
        }
       }
      }
     },
     "400": {
      "description": "Nederīgs parametrs: {kluda}"
     },
     "503": {
      "description": "Avots vai datubāze nav pieejama: {kluda}"
     }
    }
   }
  }
 }
}
